/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: 'Montserrat', sans-serif;} */
body.mat-typography { margin: 0; font-family: 'Montserrat', sans-serif;}

.mat-typography h1, .mat-typography h2, .mat-typography h3, .mat-typography h4, .mat-typography p,.mat-typography a, .mat-typography div, .mat-typography span, .mat-card  {
  font-family: 'Montserrat', sans-serif;
}
